@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Piazzolla:wght@600&display=swap');

#map {
  width: 100%;
  height: 100%;
  float:left;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    background-color: #000B2D;
}

#container{
    background-color: #000B2D;
    width: 70%;
    position: relative;
    display: grid;
    box-shadow: 2px 2px 10px 0 rgba(51, 51, 51,0.2);
    transition: 0.5s;
    margin: 2%;

}
#container:hover{
    box-shadow: 0 0 20px #7B68EE;
    border: 4px solid #7B68EE;
}
.titulo{
    text-align: center;
    font-family: 'Piazzolla', serif;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
.images{
   display: flex;
   justify-content: space-around;
}
button{
    border-radius: 72px;
    margin-top: 10%;
    height: 30px;
    width: 20%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#buttonVer{
    margin-left: 5%;
    border-radius: 72px;
    margin-top: 10%;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
button a{
  text-decoration: none;
  color: white;
}

button:hover{
    box-shadow: 0 0 20px #A9A9A9;
}
input{
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
    border-radius: 36px;
    width: 40%;
    height: 35px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}
#desc{
   border: 0.5px solid white;
   color: white;
   background-color: transparent;
   border-radius: 15px;
   width: 83%;
   padding: 5px;
   margin: 5px;
   font-family: 'Montserrat', sans-serif;
   height: 100px;

}
input:hover{
    box-shadow: 0 0 20px #A9A9A9;
}
form{
   margin: 5% 0 0 10%;
   color: white;
   font-family: 'Montserrat', sans-serif;
}

#form{
    margin-left: 10%;
    margin-top: 5%;
}

#mostrar{
    justify-content: center;
    background-color: #000B2D;
    margin-left: 5%;
}

.exibicao{
    border: 0.5px solid white;
    padding: 10px;
    color: white;
    background-color: transparent;
    border-radius: 36px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
}

.div-de-exibicao{
    display: flex;
    flex-direction: row;
    border: solid 5px ;
    border-radius: 5px;
}

h1{
    margin-bottom: 40%;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}

      
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}